@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

root {
  /* colors */
  --col-bg: white;
  --col-text: black;
  --col-outline: black;
  --col-active:gold;
  font-size:10px;
}

body {
  font-family:'Alice', serif;
}

footer {
  width:100%;
  box-sizing:border-box;
  position:fixed;
  bottom:0;
  text-align:center;
}

header {
  align-self:flex-start;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:3.5rem;
  z-index:10;
  background:white;
}

main {
  display:flex;
  flex-direction:column;
  max-width:900px;
}

h1 {
  font-size:3rem;
  border-bottom: 1px solid black;
  padding: .1em 0;
  margin:.1em 0;
  margin-top:.2em;
}

h2 {
  font-size:2rem;
  margin-top:.4em;
  text-align:center;
}

/* General Utilty Classes*/

.col-center {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.width-fill {
  box-sizing:border-box;
  width:100%;
}

.hidden {
  display:none !important;
}

/* Element styles */

.nav-fixed {
  position:fixed;
  top:0;
}

.btn-group {
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  background:black;
  color:white;
  transition: position 1s;
}

.btn {
  position:relative;
  padding: .4em 1em;
  font-size:150%;
  text-align:right;
  border-top: 5px solid black;
}

.btn-icon {
  display:none;
}

.btn:hover, .btn-selected {
  background:white;
  color:black;
  transition:.2s;
  cursor:pointer;
}

.btn:hover > .btn-icon {
  display:block;
  position: absolute;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.hero {
  height:120px;
  background:rgb(137, 196, 122);
}

.main-text-content {
  padding:1em;
}

.main-text-content > p::first-letter {
  font-size:175%;
}

.foot {
  position:absolute;
  bottom:20px;
}

/* SERVICE ITEM */

.svc-item {
  padding:1.5rem 1rem 0 .5rem;
  padding-bottom:0;
}

.svc-item-container {
  border-left: 1px solid black;
  padding-left: .5rem;
}

.svc-item-top {
  display:flex;
  justify-content: space-between;
  /* font-weight:bold; */
  font-size: 1.6rem;
}

.svc-item-description {
  padding-top: .5rem;
}

/* IDs */

#content {
  display: relative;
  height:100%;
}

/* Media queries */
@media only screen and (min-width: 650px) {
  .btn-group {
    flex-direction:row;
  }
  .btn-icon {
    display:none !important;
  }
}
